<?xml version="1.0"?>
<!--
/**
 *
 * @description Dependency Injection Configuration
 *
 * @author     Enoch Data Systems <https://data.enoch.systems>
 * @author     C. M. de Picciotto <cmdepi@enochsystems.com>
 * @copyright  Copyright 2018 Enoch Systems LLC
 * @license    Apache License 2.0
 * @package    ProductImportCategoryId
 * @version    1.0.0
 * @link       https://github.com/enochsystems/ProductImportCategoryId
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--
    /**
     *
     * @note Rewrite Category Processor Uses On Import Feature
     *
     */
    -->
    <preference for="Magento\ProductImportCategoryId\Model\Import\Product\CategoryProcessor" type="Enoch\ProductImportCategoryId\Model\Import\Product\CategoryProcessor" />
</config>
